@import "./variables.css";

body {
  background-color: var(--color-app-bg);
  margin: 0px;

  background-image: 
    repeating-radial-gradient(
      circle at center,
      #000000 1px,
      rgba(255, 255, 255, 0) 5px
    );
}

main {
  margin: 0px var(--side-margin);
}

main > * {
  margin-bottom: 8vw;
}

.section-title {
  font-family: var(--font-heading);
  color: var(--color-text);
  font-size: 2rem;
  margin-bottom: 3px;
  padding-left: 10px;
}

@media (max-width: 768px) {
  main {
    margin: 0px var(--side-margin-small);
  }
  main > * {
    margin-bottom: 16vw;
  }
}
