:root {
    --color-text: #FFFFFF;
    --color-border: #626262;
    --color-secondary-bg: #3C3B3B;
    --color-primary-bg: #2B2B2B;
    --color-app-bg: #212121;
    --color-exp-title: #FF4B4E;
    --color-project-title: #FFAC6D;
    --color-nav-item-bg: #E564FF;
    --color-tech-bg: #65558F;

    --font-heading: 'Viga', sans-serif;
    --font-body: 'Rubik', sans-serif;

    --side-margin: 20vw;
    --side-margin-small: 10vw;
    --border-width: 1px;

}